<!DOCTYPE html>

<html>

	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="../css/bootstrap.min.css" rel="stylesheet">
    	<title>Administration Saturne</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/css_administration-gestionvideos.css"> 

    </head>

    <body>
    
    	<div th:replace="~{commonAdmin :: adminMenu('admingestionvideos')}"></div>

        <div class="container">

            <div class="panel panel-default">
                <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-2"><span class="glyphicon glyphicon-film"></span></div>
                    <div class="col-xs-8">Gestion Vidéos</div>
                </div>
                </div>
            </div>
            
            <section class="panel-group">
				<h2>Ajouter une vidéo :</h2>
				
				 <form class="form-horizontal" role="form" method="post" action="#">
                	<div class="form-group">
                    	<label for="titrevideo" class="col-sm-4 control-label">Titre de la vidéo :</label>
                    	<div class="col-sm-6">
                    		<input  class="form-control" type="text" name="titre" id="titrevideo">
                    	</div>
                	</div>
                	<div class="form-group">
                    	<label for="categorievideo" class="col-sm-4 control-label">Catégorie de la vidéo :</label>
                    	<div class="col-sm-6">
                    		<select class="form-control" name="categorie" id="categorievideo">
                        		<option th:each="categorie : ${categories}" th:value="${categorie.id}">[[${categorie.nom}]]</option>
                        		
                    		</select>
                    	</div>
                	</div>
                	<div class="form-group">
                		<label for="datevideo" class="col-sm-4 control-label">Date de publication :</label>
                		<div class="col-sm-6">
                			<input class="form-control" type="date" name="date" id="datevideo">
                		</div>
                	</div>
                	<div class="form-group">
                    	<label for="urlvideo" class="col-sm-4 control-label">URL Youtube de la vidéo :</label>
                    	<div class="col-sm-6">
                    		<input class="form-control" type="url" placeholder="https://youtube.com" name ="url" id="urlvideo">
                    	</div>
                	</div>

                	<div class="row" id="footerform">
                	<div class="col-sm-offset-5 col-sm-2">
                		<input type="submit" class="btn btn-success" value="Ajouter la vidéo">
                	</div>
                	<div class=" col-sm-2">
                		<a class="btn btn-danger" href="administration-gestionvideos.html">Annuler</a>
                	</div>
                	</div>
            	</form>
            </section>
            
            <section class="panel-group">
				<h2>Liste des vidéos :</h2>

            <table class="table table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Catégorie<th>
                    <th>Titre vidéo</th>
                    <th>Lieu Youtube</th>
                    <th>Date</th>
                    <th>Modifier - Supprimer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                        <td align="center">BDA<td>
                        <td align="center">Afterwork GB Radio</td>
                        <td align="center">https://www.youtube.com/embed/Stet_4bnclk</td>
                        <td align="center">27/10/2017</td>
                        <td align="center">
                            <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>

                            <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Souhaitez-vous vraiment supprimer cette vidéo ?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success">Confirmer</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>

                        </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                        <td align="center">BDA<td>
                        <td align="center">AfterWork Cap'So</td>
                        <td align="center">https://www.youtube.com/embed/Stet_4bnclk</td>
                        <td align="center">13/11/2017</td>
                        <td align="center">
                            <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                        <td align="center">BDS<td>
                        <td align="center">AfterWork WildWeek</td>
                        <td align="center">https://www.youtube.com/embed/Stet_4bnclk</td>
                        <td align="center">15/12/2017</td>
                        <td align="center">
                            <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </td>
                </tr>
            </tbody>
        </table>
        </section>

        </div>

    	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>